<h1>Your lucky numbers for today are</h1>

<ul>
  <li><%= @first_number %></li>
  <li><%= @second_number %></li>
  <li><%= @third_number %></li>
  <li><%= @fourth_number %></li>
  <li><%= @fifth_number %></li>
</ul>
